@model CustomerAjax.Models.Customer

<h3>Detalles del cliente</h3>
@Html.DisplayNameFor(x => x.Name) : @Html.DisplayFor(x => x.Name)
<br />
@Html.DisplayNameFor(x => x.Age) : @Html.DisplayFor(x => x.Age)
<br />

<p>Updated at @DateTime.Now</p>